body {
    
    text-align: center;
}

h1 {
    
    font-family: Helvetica;
    font-size: 70px;
    font-weight: bold;
    color: black;
}

h2{
    
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: black;
}

h3 {
    font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
    color: black;
}

.text {
    
    font-family: Helvetica;
    font-size: 14px;
    color: black;
}

.menu {
    font-family: Helvetica;
    font-size: 18px;
    color: white;
    text-decoration: underline;
    background: url("../resources/the-flatiron-building.png");
    
}